/Java stuff/SerineDemo_1/nbproject/private/
/Java stuff/SerineDemo_1/dist/
/Java stuff/SerineDemo_1/build/
/Java stuff/SerineProtocol-1.1/build/
/Java stuff/SerineProtocol-1.1/dist/
/Java stuff/SerineProtocol-1.1/nbproject/private/
